html {
  vertical-align: middle;
}

body {
  margin: auto;
  margin-left:360px;
  max-width: 550px;
  line-height: 20px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, "Liberation Sans", Calibri, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, "Liberation Sans", Calibri, Arial, sans-serif;
}
